.contacts {
  min-height: 100vh;

  .social-media .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .map iframe {
    border-radius: 10px;
  }

  h2 {
    color: #EE1924;
    font-weight: bold;
  }
}
