<div class="container order-status mt-5">
  <div class="card shadow-lg border-light">
    <div class="card-header text-center bg-primary text-white rounded-top">
      <h2>Статус текущего заказа</h2>
    </div>

    <div class="card-body">
      <div class="d-flex align-items-center mb-4 status-indicator">
        <div class="status-circle" [ngClass]="{ 'completed': order.status === orderStatus.COMPLETED, 'in-progress': order.status === orderStatus.IN_PROGRESS, 'pending': order.status === orderStatus.PENDING }"></div>
        <span class="h5 mb-0 font-weight-bold text-uppercase">{{ getOrderStatus(order.status) }}</span>
      </div>

      <div class="order-details mb-4">
        <div><strong>Номер заказа:</strong> <span class="text-muted">{{ order.orderNumber }}</span></div>
        <div><strong>Дата оформления:</strong> <span class="text-muted">{{ order.dateCreated | date: 'shortDate' }}</span></div>
        <div *ngIf="order.status === orderStatus.COMPLETED">
          <strong>Дата завершения:</strong> <span class="text-muted">{{ order.dateCompleted | date: 'shortDate' }}</span>
        </div>
        <div *ngIf="order.status === orderStatus.IN_PROGRESS">
          <strong>Предположительная дата завершения:</strong> <span class="text-muted">{{ order.estimatedCompletion | date: 'shortDate' }}</span>
        </div>
      </div>

      <div class="order-log">
        <h5 class="font-weight-bold mb-3">История заказа</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let log of order.history">
            <div class="d-flex justify-content-between">
              <strong>{{ log.date | date: 'shortTime' }}:</strong>
              <span>{{ log.message }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
