@mixin position-center($text-align: center) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: $text-align;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff no-repeat center/cover;
  z-index: 9999;

  img {
    @include position-center;
    width: 15vw;
    max-width: 140px;
    min-width: 80px;
    height: auto;
    animation: blur-text 3s ease-out infinite;
    background-color: transparent;
    mix-blend-mode: darken;
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
    transform: scale(1.2);
  }
  50% {
    filter: blur(2px);
    transform: scale(1);
  }
  100% {
    filter: blur(0px);
    transform: scale(1.2);
  }
}
