<section class="h-100">
  <div class="container-fluid container-xxl d-flex align-items-center h-100">
    <div class="row align-items-center">
      <div class="col-7">
        <div class="img-wrapper">
          <img src="assets/images/background.jpg" alt="">
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center flex-column p-4 shadow rounded">
        <h3 class="mb-2 text-center">Забыли пароль?</h3>
        <span class="d-inline-block mb-2 subtitle">Введите свой email, и мы вышлем вам инструкции по сбросу пароля</span>
        <div class="w-100 text-left">
          <label for="email" class="form-label">Емейл</label>
        </div>
        <input
          [formControl]="emailControl"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
        <button type="submit" class="btn btn-primary w-100 mt-3 mb-3" [disabled]="emailControl.invalid" (click)="resetPassword()">Создать аккаунт</button>
        <div class="w-100 text-center">
          <a [routerLink]="'/login'" class="form-label text-danger">Вернуться к входу</a>
        </div>
      </div>
    </div>
  </div>
</section>
