:host {
  display: block;
  height: 100vh;

  .img-wrapper {
    height: calc(100vh - 200px);

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 53px;
    }
  }

  .subtitle {
    font-size: 14px;
  }

  .form-label {
    font-weight: 100;
    font-size: 14px !important;
  }
}
