@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.form-label {
  margin-bottom: 0 !important;
}

.form-control {
  border: 2px solid #ccc !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  padding: 10px !important;

  &:focus {
    border-color: #007bff !important;
    box-shadow: none !important;
  }
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 100 !important;
  background-color: #EC1C26 !important;
  border: 1px solid transparent !important;

  &:hover {
    border: 1px solid #EC1C26 !important;
    background-color: #fff !important;
    color: #464343 !important;
    transition: all .5s cubic-bezier(.25,.74,.22,.99) !important;
  }
}

.header-padding {
  padding-top: 64px !important;
  @media (min-width: 1024px) {
    padding-top: 100px !important;
  }
}
